body {
    margin: 0;
}

.bg-primary {
    background-color: #01B075;
}

body {
    font-family: GoogleSans-Regular;
    font-size: 15px;
}

@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('../font/GoogleSans-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Bold';
    src: url('../font/GoogleSans-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Italic';
    src: url('../font/GoogleSans-Italic.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-BoldItalic';
    src: url('../font/GoogleSans-BoldItalic.otf') format('opentype');
}