.page-title {
    display: flex;
    align-items: center;
    height: 40px;
}

    .page-title .page-left {
        font-size: 24px;
        font-weight: bold;
    }

    .page-title .page-right {
        position: absolute;
        right: 24px;
    }

.toolbar {
    margin-top: 20px;
    display: flex;
    height: 40px;
    width: 100%;
}

.grid {
    position: absolute;
    right: 24px;
    left: 24px;
    top: 150px;
    bottom: 60px;
}

.paging {
    position: absolute;
    height: 60px;
    background-color: aquamarine;
    bottom: 0;
    left: 24px;
    right: 24px;
}