.btn-default {
    display: inline-block;
    padding-left: 24px;
    padding-right: 24px;
    height: 40px;
    background-color: #019160;
    border-radius: 4px;
    font-size: 13px;
    color: #ffffff;
    text-align: center;
    font-style: normal;
    line-height: 40px;
    outline: none;
    border: none;
    cursor: pointer;
}

    .btn-default:hover {
        background-color: #2FBE8E;
    }

    .btn-default:active {
        background-color: #2FBE8E;
    }

.btn-search {
    display: inline-block;
    padding-left: 24px;
    padding-right: 24px;
    height: 40px;
    border-radius: 4px;
    font-size: 13px;
    color: #808080;
    text-align: center;
    font-style: normal;
    line-height: 40px;
    cursor: pointer;
}

.btn-refresh {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    font-style: normal;
    line-height: 40px;
    position: absolute;
    right: 24px;
    outline: none;
    background-image: url('../../icon/refresh.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    cursor: pointer;
}

    .btn-refresh:hover {
        border-color: #019160;
    }

    .btn-refresh:active {
        background-color: #808080;
    }